<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Bootstrap-ecommerce by Vosidiy M.">

    <title>Website title - bootstrap html template</title>

    <!-- jQuery -->
    <script src="/Content/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="/Content/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="../Content/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="/Content/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="/Content/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/responsive.css" rel="stylesheet" />

    <!-- custom javascript -->
    <script src="/Content/js/script.js" type="text/javascript"></script>

</head>
<body>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-4 col-md-4 col-5">
                        <a href="http://bootstrap-ecommerce.com" class="brand-wrap">
                            <img class="logo" src="/Content/images/logo.png">
                        </a> <!-- brand-wrap.// -->
                    </div>
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->
    </header> <!-- section-header.// -->

    <section class="section-content bg padding-y">
        <div class="container">

            @RenderBody()

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer border-top padding-y">
        <div class="container">
            <p class="float-left text-muted">
                Designed by Nandish Gajjar<br> Developed by Nandish Gajjar

            </p>
            <p target="_blank" class="float-right text-muted">
                Copyright &copy 2019 Nandish Gajjar<br>
            </p>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->


</body>
</html>